@model IEnumerable<Vidly.Models.Movie>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>


        @if (@Model.ToList().Count > 0)
        {
                foreach (var movie in @Model)
                { 
                    <tr>
                        <td>@Html.ActionLink(@movie.Name, "Details", "Movies", new { id = @movie.Id }, null)</td>
                        <td>@movie.Genre</td>
                    </tr>
                }
        }
        else
        {
            <tr>
                <td>We don't have any customers yet.</td>
            </tr>
        }

    </tbody>
</table>

